span.require{color:#ff6600;}
select,textarea,input{border: 1px solid #CFCFCF;}
select,input{height: 16px;vertical-align:middle;}

select.w4,input.w4{width:506px;}
select.w3,input.w3{width:252px;}
select.w2,input.w2{width:163px;}
select.w1,input.w1{width:68px;}
input.radio,input.checkbox{border:none;}

table {border-collapse:collapse;}
td {padding:5px;}
td {border-bottom:1px solid #dbdbdb;}
td.label{width:95px;padding-left:15px;}
td.input{}
tr.bottom td{border-bottom:2px solid #dbdbdb;}
tr.hidden td{border-bottom:2px solid #dbdbdb;}
tr.radio td{padding:1px;}
td.input td{padding:2px;border-bottom:none;}
td.input td label{padding-right:10px;}
td.input td.description{padding-left:25px;color:#999999;}


.content .join{font-family:'dotum'; font-size:11px; color:#7d7d7d;width:777px;margin:0 auto;line-height:15px;margin-top:29px;}
.content .join .highlight{font-weight:bold;color:#469ed9;}
.content .join .header{background:url('./company-join/join-title.png');width:376px;height:23px;}
.content .join .tab{background:url('./company-join/join-tab-company.png');width:777px;height:32px;margin-top:14px;margin-bottom:5px;}
.content .join .agree{text-align:center;margin-top:28px;}
.content .join .submit{text-align:center;margin-top:36px;margin-bottom:70px;}

