.line, .icon{font-size:0.0001em;display:inline-block;background:url('../images/base/icon.png');} /*for ie6*/
/* icon */
.icon-more{background-position:-127px -5px; width:40px; height:13px;}
.icon-more-smth{background-position:-127px -17px; width:40px; height:13px;}
.icon-apply{background-position:-4px -2px; width:56px; height:56px;}
.icon-view{background-position:-64px -2px; width:56px; height:56px;}
.icon-go{background-position:-122px -32px; width:44px; height:19px;}
.icon-prev{background-position:-168px -6px; width:17px; height:29px;}
.icon-next{background-position:-168px -37px; width:17px; height:29px;}
.icon-pager{background-position:-143px -62px; width:9px; height:9px;}
.icon-pager-select{background-position:-127px -62px; width:9px; height:9px;}
.icon-sponsor-box{background-position:-122px -32px; width:44px; height:19px;}
.icon-info-box{background-position:-0px -169px; width:189px; height:138px;}
.icon-info-box-empty{background-position:-0px -308px; width:189px; height:138px;}
.icon-join{background-position:-10px -62px; width:40px; height:40px;}
.icon-recommend{background-position:-59px -63px; width:40px; height:40px;}
.icon-login{background-position:-358px -23px; width:51px; height:19px;}
.icon-logout{background-position:-358px -4px; width:51px; height:19px;}
.icon-company-join{background-position:-192px -4px; width:165px; height:42px;}
.icon-find{background-position:-192px -48px; width:62px; height:18px;}
.icon-duplicate-check{background-position:-256px -48px; width:62px; height:18px;}
.icon-join-big{background-position:-198px -75px; width:124px; height:21px;}
.icon-join-big-person{background-position:-343px -75px; width:124px; height:21px;}
.icon-login-big{background-position:-190px -102px; width:65px; height:63px;}
.icon-folder-on{background-position:-261px -102px; width:193px; height:32px;}
.icon-folder-off{background-position:-261px -137px; width:193px; height:32px;}
.icon-folder-small-on{background-position:-334px -338px; width:150px; height:32px;}
.icon-folder-small-off{background-position:-487px -338px; width:150px; height:32px;}
.icon-folder-big-on{background-position:-200px -179px; width:250px; height:32px;}
.icon-folder-big-off{background-position:-200px -215px; width:250px; height:32px;}

.icon-folder-middle-on{background-position:-524px -374px; width:189px; height:32px;}
.icon-folder-middle-off{background-position:-334px -374px; width:189px; height:32px;}

.icon-recruit-info{background-position:-420px -5px; width:61px; height:17px;}
.icon-quick-free-recruit{background-position:-201px -251px; width:130px; height:55px;}
.icon-quick-free-human{background-position:-201px -308px; width:130px; height:55px;}
.icon-quick-free-explain{background-position:-201px -365px; width:130px; height:55px;}
.icon-recruit-request{background-position:-332px -252px; width:166px; height:44px;}
.icon-send-oper{background-position:-416px -26px; width:64px; height:31px;}
.icon-send-oper-big{background-position:-458px -103px; width:64px; height:62px;}
.icon-question-oper{background-position:-480px -76px; width:124px; height:20px;}
.icon-regist-bmn{background-position:-321px -48px; width:70px; height:18px;}
.icon-small-btn{background-position:-320px -48px;width:29px;height:16px;}
.icon-small-modify-btn{background-position:-198px -425px;width:29px;height:16px;}
.icon-middle-btn{background-position:-350px -48px;width:51px;height:16px;}
.icon-expoinfo-logo{background-position:-488px -6px;width:73px;height:17px;}
.icon-participation-logo{background-position:-565px -6px;width:58px;height:17px;}
.icon-board-confirm{background-position:-483px -26px;width:68px;height:30px;}
.icon-board-cancle{background-position:-558px -26px;width:65px;height:30px;}
.icon-board-confirm-simple{background-position:-628px -26px;width:65px;height:30px;}
.icon-board-icon-next{background-position:-635px -11px;width:6px;height:9px;}
.icon-board-icon-prev{background-position:-628px -11px;width:6px;height:9px;}
.icon-board-search{background-position:-644px -4px;width:32px;height:21px;}
.icon-board-delete{background-position:-696px -58px;width:65px;height:30px;}
.icon-board-modify{background-position:-628px -58px;width:65px;height:30px;}
.icon-board-list{background-position:-696px -26px;width:65px;height:30px;}
.icon-logo-reply{background-position:-685px -6px;width:22px;height:12px;}
.icon-reply-confirm{background-position:-524px -102px;width:66px;height:51px;}
.icon-reply-opinion{background-position:-715px -6px;width:22px;height:12px;}
.icon-recruit-btn-new{background-position:-334px -298px;width:50px;height:16px;}
.icon-recruit-btn-delete{background-position:-387px -298px;width:29px;height:16px;}
.icon-recruit-btn-korean{background-position:-420px -298px;width:50px;height:16px;}
.icon-recruit-btn-china{background-position:-472px -298px;width:50px;height:16px;}
.icon-recruit-btn-english{background-position:-524px -298px;width:50px;height:16px;}
.icon-national-kr{background-position:-457px -179px;width:17px;height:17px;}
.icon-national-cn{background-position:-478px -179px;width:17px;height:17px;}
.icon-national-en{background-position:-498px -179px;width:17px;height:17px;}
.icon-add-confirm{background-position:-594px -103px;width:99px;height:23px;}

.icon-recruit-company{background-position:-336px -319px;width:45px;height:14px;}
.icon-recruit-judge{background-position:-386px -319px;width:46px;height:14px;}
.icon-recruit-condition{background-position:-437px -319px;width:45px;height:14px;}
.icon-recruit-expo-join{background-position:-488px -319px;width:58px;height:14px;}
.icon-recruit-expo-notjoin{background-position:-549px -319px;width:57px;height:14px;}
.icon-recruit-modify{background-position:-610px -318px;width:28px;height:16px;}
.icon-recruit-supply-btn{background-position:-506px -252px;width:165px;height:43px;}

.icon-recruit-search-btn{background-position:-454px -209px;width:165px;height:43px;}

.icon-human-regist-btn{background-position:-524px -164px;width:166px;height:43px;}
.icon-human-interview-btn{background-position:-622px -209px;width:166px;height:43px;}

.icon-human-search-btn{background-position:-502px -407px;width:166px;height:43px;}
.icon-human-join-btn{background-position:-335px -407px;width:166px;height:43px;}
.icon-user-info{background-position:-230px -426px;width:58px;height:16px;}
.icon-operation-logo{background-position:-699px -103px;width:59px;height:16px;}

