div.title{font-weight:bold;font-size:12px;margin-bottom:5px;}
div.desc{font-size:11px;color:#999999;}

 
 
 .promote{ margin-top:32px;}
 .promote .promote-input-table{width:777px;}
 .promote .promote-input-table tr{height:33px; cursor:pointer;} 
 .promote .promote-input-table input{width:90%;}