<%@ Master Language="C#" AutoEventWireup="true" CodeFile="EmptyMaster.master.cs" Inherits="CN_WebMaster_EmptyMaster" %>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
